body {
    font-size: 16px;
    font-family: "リュウミンLK-L", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f0f0f0;
}

header {
    background: #0073e6;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    color: #ffffff;
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 3rem;
}

section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

form label {
    display: block;
    margin: 0.5rem 0;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

form button {
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}
