/* ===== 全体のスタイル ===== */
body {
  margin: 0;
  padding: 0;
  font-family: 'リュウミンLK-L', sans-serif;
}

/* ===== ヘッダーのスタイル ===== */
header {
  background-color: cyan;
  background-size: cover;
  padding: 30px;
}

h1 {
  font-size: 70px;
  color: black;
  text-align: center;
}

/* ===== セクションのスタイル ===== */
section {
  background-color: ivory;
  padding: 30px;
  text-align: left;
}

h2 {
  color: brown;
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  line-height: 1.8;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* ===== フッターのスタイル ===== */
footer {
  color: white;
  background-color: brown;
  text-align: center;
  padding: 10px;
}
